.plan{
    width: 66px;
    height: 80px;
    background: url("../image/myplan.gif") no-repeat center top;
    position: absolute;
    left: 50%;
    top: 0;
    cursor: none;
}
.bullet{
    width: 6px;
    height: 14px;
    background: url("../image/bullet1.png") no-repeat center bottom;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}
.enemy3{
    width: 46px;
    height: 60px;
    position: absolute;
    background: url("../image/enemy3_fly_1.png") no-repeat center center;
    top: -60px;
}
.enemy2{
    width: 110px;
    height: 164px;
    position: absolute;
    background: url("../image/enemy2_fly_1.png") no-repeat center center;
    top: -164px;
}
.enemy1{
    width: 32px;
    height: 24px;
    position: absolute;
    background: url("../image/enemy1_fly_1.png") no-repeat center center;
    top: -24px;
}
.enemy1.boom{
    background: url("../image/小飞机爆炸.gif") no-repeat center center;

}
.enemy2.boom{
    background: url("../image/大飞机爆炸.gif") no-repeat center center;
}
.enemy3.boom{
    background: url("../image/中飞机爆炸.gif") no-repeat center center;
}
.power{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(12,13,14);
}
